[submodule "dircolors-solarized"]
	path = dircolors-solarized
	url = https://github.com/seebi/dircolors-solarized.git
[submodule ".config/polybar/polybar-scripts"]
	path = .config/polybar/polybar-scripts
	url = git@github.com:x70b1/polybar-scripts.git
