!-------------------------------------------------------------------------------
! Xft settings
!-------------------------------------------------------------------------------
Xft.dpi:                    96
Xft.antialias:              true
Xft.rgba:                   rgb
Xft.hinting:                true
Xft.lcdfilter:              lcdlight
Xft.hintstyle:              hintslight

URxvt.depth:                32
URxvt.geometry:             90x30
! URxvt.transparent:          false
URxvt.fading:               20
URxvt.urgentOnBell:         true
URxvt.visualBell:           true
URxvt.loginShell:           true
URxvt.termName:             rxvt-256color
URxvt.saveLines:            3000
URxvt.internalBorder:       3
URxvt.lineSpace:            0

! Enable home and end keys
URxvt*keysym.Home:          \033[1~
URxvt*keysym.End:           \033[4~
! Fonts
URxvt.allow_bold:           true
! Search multiple fonts to allow for unicode glyphs
URxvt*font:                 xft:Hack:size=8:antialias=true,\
                            xft:WunconSiji:size=8,\
                            xft:Siji:size=8,\
                            xft:Unifont:style=Medium:antialias=true,\
                            xft:Symbola,\
                            xft:FreeSerif:style=Regular,\
                            xft:WenQuanYi Bitmap Song:size=8,
urxvt.boldFont:             xft:Hack:size=8:style=Bold:antialias=true,
urxvt.italicFont:           xft:Hack:size=8:style=Italic:antialias=true,
urxvt.boldItalicFont:       xft:Hack:size=8:style=Bold Italic:antialias=true,

! Scrollbar
URxvt.scrollStyle:          rxvt
URxvt.scrollBar:            false

! Perl extensions
URxvt.perl-ext-common:      default,matcher,clipboard,resize-font

! Launching URLs
URxvt.url-launcher:         /usr/bin/xdg-open
URxvt.matcher.button:       1
! Launching via keyboard
URxvt.keysym.C-Delete:      perl:matcher:last
URxvt.keysym.M-Delete:      perl:matcher:list

! Cursor
URxvt.cursorBlink:          true
URxvt.cursorColor:          S_base00
URxvt.cursorUnderline:      false

! Pointer
URxvt.pointerBlank:         true

! Copy paste
URxvt.keysym.Shift-Control-V: perl:clipboard:paste
URxvt.iso14755: False

! Base16 Default Dark
! Scheme: Chris Kempson (http://chriskempson.com)

#define base00 #181818
#define base01 #282828
#define base02 #383838
#define base03 #585858
#define base04 #b8b8b8
#define base05 #d8d8d8
#define base06 #e8e8e8
#define base07 #f8f8f8
#define base08 #ab4642
#define base09 #dc9656
#define base0A #f7ca88
#define base0B #a1b56c
#define base0C #86c1b9
#define base0D #7cafc2
#define base0E #ba8baf
#define base0F #a16946

*foreground:   base05
#ifdef background_opacity
*background:   [background_opacity]base00
#else
*background:   base00
#endif
*cursorColor:  base05

*color0:       base00
*color1:       base08
*color2:       base0B
*color3:       base0A
*color4:       base0D
*color5:       base0E
*color6:       base0C
*color7:       base05

*color8:       base03
*color9:       base08
*color10:      base0B
*color11:      base0A
*color12:      base0D
*color13:      base0E
*color14:      base0C
*color15:      base07

! Note: colors beyond 15 might not be loaded (e.g., xterm, urxvt),
! use 'shell' template to set these if necessary
*color16:      base09
*color17:      base0F
*color18:      base01
*color19:      base02
*color20:      base04
*color21:      base06
